.div{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 1px solid;

}
.hero{
    position: relative;
    top: 20px;
    left: 20px;

}
#g-parent{
    width: 600px;
    height: 300px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
}
.parent{
    width: 200px;
    height: 200px;
    background-color: maroon;
    position: absolute;
    top: 55px;
    right: 20px;

}
.parent1{
    width: 40%;
    margin-left: 20px;
    margin-top: 70px;
}
.obligue{
    font-style: oblique;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-variant: small-caps;
}